<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form action="/album" method="post">
    <fieldset>
        <legend>Favorite Albums</legend>
        <label>Album Title</label>
        <input type="text" name="title"/>
        <label>Artist</label>
        <input type="text" name="artist">
        <label>Song Count</label>
        <input type="text" name="songCount">
        <label>Length</label>
        <input type="text" name="length">
        <label>Image</label>
        <input type="text" name="imageURL">
        <input type="submit" value="Add Album">
    </fieldset>
</form>

<ul th:each="favoriteAlbums : ${album}">
    <li th:text="'Album: ' + ${favoriteAlbums.title}"></li>
    <li th:text="'Artist: ' + ${favoriteAlbums.artist}"></li>
    <li th:text="'Song Count: ' + ${favoriteAlbums.songCount}"></li>
    <li th:text="'Length: ' + ${favoriteAlbums.length}"></li>
    <li th:text="'Image: ' + ${favoriteAlbums.imageURL}"></li>
</ul>
<!--<p th:text="${marcAnthony}"></p>-->
<!--<p th:text="${motleyCrue}"></p>-->
<!--<p th:text="${zBB}"></p>-->
</body>
</html>